
RewriteEngine on

###- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Any additional redirects can go here
###- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#RewriteCond %{HTTP_HOST} ^comms\.opens\.science$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.comms\.opens\.science$
#RewriteRule ^core/repo/(.*)$ /core/repo/$1 [NC,R=302]

