### Activate URL rewriting
RewriteEngine On
RewriteBase /core/

###- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Redirect of requests for non-existing files or directories; we
### assume that they are identifiers
###- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

RewriteCond %{HTTP_HOST} ^comms\.opens\.science$ [OR]
RewriteCond %{HTTP_HOST} ^www\.comms\.opens\.science$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ repo/construct?ucid=$1 [NC,L,R=302]
