:root {
  --psycore-bg1: #ffffff;
  --psycore-bg2: #D79809;
  --psycore-text1: #000000;
  --psycore-text2: #ffffff;
}

/* From: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  font-size: 110%;
  padding: 3em;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modalClose {
  color: var(--psycore-text2);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--psycore-bg2);
  width: 80%;
  font-size: 125%;
  margin: auto;
  color: var(--psycore-text2);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--psycore-bg2);
  width: 80%;
  margin: auto;
  color: var(--psycore-text2);
}

.modal-footer a, .modal-footer a :hover, .modal-footer a :focus, .modal-footer a :visited {
  color: var(--psycore-text2);
}

/* Overwriting sortable table */

.sortable thead th {
  text-align: center;
  font-size: 110%;
  background-color: var(--psycore-bg2);
  color: var(--psycore-text2);
}

.sortable thead .construct-overview-table-heading {
  text-align: center;
  vertical-align: bottom;
  background-color: var(--psycore-bg2);
  color: var(--psycore-text2);
  white-space: normal;
  font-weight: bold;
}

.sortable table #construct-overview tbody tr:nth-child(2n+1) {
  --stripe-color: #FEF7E7;
}

#construct-overview tbody tr:nth-child(2n+1) {
  --stripe-color: #FEF7E7;
}

/* Own stuff again */

/*----------------------------------------------------------------------------*/
/* Homepage                                                                   */
/*----------------------------------------------------------------------------*/

.homepage-title-image {
  z-index: 1;
  float: right;
  width: 335px;
  margin: 0px 0px 20px 40px;
}

.construct-overview-wrapper, .construct-view-wrapper, .single-overview-wrapper {
  margin: 1em auto;
  width: 100%;
}

.construct-overview-intro {
  margin-bottom: 1em;
}

.construct-overview-wrapper table {
  font-size: 80%;
  padding: 2px;
}

.construct-overview-wrapper table th {
  padding: 0.5em;
}


.construct-overview-wrapper table td {
  padding: 0.5em;
}

.construct-view-title-image, .construct-view-title {
  display: inline-block;
  vertical-align: middle;
}

.single-overview-title-image {
  float: left;
  margin: 0.5em;
}

.single-overview-introduction {
  display: inline;
}

.single-overview-intro {
  margin-bottom: 1em;
}

.intro-overview-table {
  display: table;
}

.intro-overview-row-container {
  display: table-row;
  margin: .5em;
}

.intro-overview-image, .intro-overview-description {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5em;
}

.intro-overview-description p {
  margin-bottom: 0rem;
}


margin-bottom: 1rem;

/*---------------------------------------------------------------------------*/
/*------------------------------ construct.html -----------------------------*/
/*---------------------------------------------------------------------------*/

.construct-definition-box, .measure-dev-box, .measure-code-box, .aspect-dev-box, .aspect-code-box {
  border: 1px;
  padding: 5px;
}

.construct-view-definition, .construct-view-measure-dev, .construct-view-measure-code, .construct-view-aspect-dev, .construct-view-aspect-code {
  font-size: 1.3em;
}

.construct-view-construct-name {
  font-size: 2em;
}

.construct-view-ucid {
  color: #888888;
}
